﻿@model SitefinityWebApp.Mvc.ViewModels.NavigationViewModel

<!-- Menu container -->
<div class="fn-container fn-dark">
	<!-- Mobile menu name -->
	<div class="fn-name"> <span><a class="no-underline" href="/">GlobalFoundries</a></span> </div>
	<!-- end Mobile menu name --> <!-- Button -->
	<div class="fn-button"> <span class="fn-bar"></span> <span class="fn-bar"></span> <span class="fn-bar"></span> </div>
	<!-- end button --> <!-- Menu -->
	<div class="flexnav">
		<ul>
			@if (Model.ControlMode != SitefinityWebApp.Custom.Enumerations.ControlMode.Desktop)
			{
				foreach (var navigationPage in Model.NavigationItems.NavigationPages.Items)
				{
					<li>
						<a href="@navigationPage.Url" class="main-nav-item">@navigationPage.Title</a>
						@if (navigationPage.Items.Any())
						{
							<ul>
								@foreach (var secondLevelNavigation in navigationPage.Items)
								{
									<li>
										<a href="@secondLevelNavigation.Url">@secondLevelNavigation.Title</a>
									</li>
								}
							</ul>
						}
					</li>
				}
			}
		</ul>
	</div>
	<!-- end Menu -->
</div>
<!-- end Menu container -->