﻿<%@ Master Language="C#" %>
<%@ Register TagPrefix="sitefinity" Assembly="Telerik.Sitefinity" Namespace="Telerik.Sitefinity.Web.UI.PublicControls" %>

<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,600" rel="stylesheet" type="text/css">      
  <link href="/content/next/css/carousel.css" rel="stylesheet">
  <link rel='stylesheet' href='/content/next/css/normalize.css'>
  <link rel='stylesheet' href='/content/next/css/style.css'>
  <link rel='stylesheet' href='/content/next/css/responsive-nav.css'>
  <!--[if lt IE 9]>
    <script src='/content/next/js/html5shiv.min.js'></script>
  <![endif]-->
  <script src='/content/next/js/jquery-1.8.3.min.js'></script>
  <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/content/next/js/selectivizr-min.js"></script>
    <noscript><link rel="stylesheet" href="/content/next/css/style.css" /></noscript>
  <![endif]--> 
  <title>Project Next</title>  
</head>
<body>
<form id="form1" runat="server">
  <header>
    <nav id="nav-top">
      <div class="container">
        <div id="logos">
          <a href="/"><img class="gf-logo" src="/content/next/img/logo.png" /></a>
        </div>
        <asp:ContentPlaceHolder ID="header_nav" runat="server"> </asp:ContentPlaceHolder>
      </div>
    </nav>
  </header>
  <section id="slider">
    <div class="container-full">
      <asp:ContentPlaceHolder ID="slider" runat="server"> </asp:ContentPlaceHolder>
    </div>
  </section>
  <section class="layout-2col">
    <div class="container">
      <section id="left">
        <main role="content">
          <header>
            <asp:ContentPlaceHolder ID="title_left" runat="server"> </asp:ContentPlaceHolder>
          </header>
          <article>
            <asp:ContentPlaceHolder ID="content_left" runat="server"> </asp:ContentPlaceHolder>
          </article>
        </main>
      </section>
      <section id="right" class="r-long">
        <section class="sidebar">
	         <asp:ContentPlaceHolder ID="top_nav_" runat="server"> </asp:ContentPlaceHolder>
        </section>
    </section>
  </div>
</section>  
<footer>
  <nav id="nav-btm">
    <asp:ContentPlaceHolder ID="footer_nav" runat="server"> </asp:ContentPlaceHolder>
  </nav>
  <section class="legal">
    <asp:ContentPlaceHolder ID="footer_legal" runat="server"> </asp:ContentPlaceHolder>
    <span class="copy">&copy; 2014 GLOBALFOUNDRIES INC.</span>
  </section>
</footer>

<script src='/content/next/js/app.js'></script>
<script src='/content/next/js/carousel.js'></script>
<script src='/content/next/js/responsive-nav.min.js'></script>
<script>
$(function() {
    $('#mammoth-carousel').carousel();
});
</script>
</form>
</body>
</html>
