@charset "UTF-8";
/* CSS Document */

body {
    background-color: #333333;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    margin: 0;
}
p {
  line-height:26px;
  margin:20px 0;
}
a{
text-decoration:none;
color:#486B7E;	
}
a:hover{
	text-decoration:none;
}
ul {
    margin: 10px;
    padding: 0;
}
.clearfix{
clear:both;	
}
#top-nav{
}
#nav {
    background-color: #5C5F68;
    height: 58px;
    min-width: 1200px;
}
.wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 1200px;
}
#home-wrapper{
	background: none repeat scroll 0 0 #FFFFFF;
    width: 1200px;
	 margin: 0 auto;
}
#banner{
min-width:1200px;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
h1, h2, h3, h4, h5{
margin:0 0 20px 0;	
}
h1 {
    color: #333333;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 58px;
}
h2 {
    color: #333333;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0 0 13px;
}

.banner-strip{
	background-image:url(../images/banner-strip.png);
	background-repeat:repeat-x;
	height:38px;	
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.top-nav-inner {
    margin: 10px 14px 10px 0;
}.top-nav-inner a{
	color:#5C5F68;
}
.selected{
border-bottom:3px solid #F96F22;	
}
.nav-inner {
    padding: 0;
}
.logo {
    margin: 30px 0 0 20px;
}
.top-nav-inner li {
    color: #5C5F68;
    display: inline;
    font-size: 17px;
    list-style-type: none;
    margin: 0 0 0 23px;
}
.nav-inner li {
    color: #FFFFFF;
    display: inline;
    font-size: 17px;
    font-weight: 200;
    list-style-type: none;
    margin: 0 0 0 2px;
}
.button {
    background-image: url("../images/blue-button.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 25px;
    height: 56px;
    padding: 12px 0 0 19px;
    width: 262px;
}
.column6, .column5, .column4, .column3, .column2, .column1, .column75, .three-quarter, .one-quarter{
float:left;
}


.column6{
width:16.666%;	
}
.column5{
width:20%;	
}
.column4{
width:25%;	
}
.column3{
width:33%;	
}
.column2{
width:50%;
}
.column1{
width:100%;	
}
.column75{
width:75%;	
}
.margin-right-34{
margin-right:34px;	
}
.three-quarter {
    width: 796px;
}
.one-quarter {
    width: 366px;
}
#content-one{
margin:20px 0 0 0;	
 min-width: 1200px;
}
.title {
    font-size: 24px;
    margin: 42px 0;
}
.title-2 {
    font-size: 18px;
    margin: 22px 70px 42px 0;
}
#content-two {
    background-color: #333333;
    color: #FFFFFF;
    margin: 57px 0;
    padding: 80px 0;
	 min-width: 1200px;
}
#content-two h2 {
    color: #FFFFFF;
}
.quick-links {
    list-style-image: url("../images/quick-link-icon.png");
    margin: 0 0 0 33px;
    padding: 10px 0 0;
}
.quick-links a{
color:#fff;
}
.quick-links li{
margin:16px 0;
}
#footer {
    margin: 21px 0;
    min-width: 1200px;
    padding: 40px 0;
    text-align: center;
}
.footer-nav {
    margin: 20px 0 40px;
}
.footer-nav li{
	list-style-type:none;
	display:inline;
	color:#FF5B00;	
	margin:0 20px;
}
.footer-color {
    background-color: #DFE4E8;
    margin: 40px 0 0;
    padding: 89px 0 30px;
}
.social img{
margin:0 5px 0;	
}
.copyright{
color:#476B7E;	
}
.statement {
    font-size: 14px;
    margin: 31px 0 61px;
    padding: 0 69px;
}
.communities {
    color: #FF5B00;
    font-size: 24px;
    margin: 0 20px 24px 368px;
}
.left-column{
	width:820px;	
	
}
.content {
    margin: 20px 0 20px 20px;
    width: 1163px;
}
.blue-button {
    margin: 50px 0;
    min-width: 250px;
}
.blue-button a {
    background-color: #3F6D80;
    color: #FFFFFF;
    font-size: 23px;
    padding: 17px 40px;
}
.blue-button a:hover{
background-color:#668A9A;	
}
.right-column {
    background-color: #DFE4E8;
    margin: 0 0 0 30px;
    padding: 33px 40px;
    width: 270px !important;
}
.related-content li {
    color: #457787;
    font-size: 16px;
    list-style-type: none;
    margin: 10px 0;
}
.related-content{
	margin:0 0 40px 0;
}
.margin-top-30{
margin-top:30px;	
}
.right-bar-caption {
    margin: 0 0 23px 17px;
    width: 171px;
}
.right-bar-caption p {
    color: #333333;
    font-size: 14px;
    margin: 10px 0;
}
.right-bar-caption h3 {
    color: #333333;
    font-weight: 400;
    margin: 0;
}
.breadcrumb {
    margin: 37px 0 0 0 !important;
}
.rsmLink{
font-size:18px;
font-weight:200;
font-family: 'Raleway', sans-serif;	
}
.divider-orange {
    border-bottom: 3px solid #FF5C00;
    margin: 82px 0;
    width: 1161px;
}
.news-wrapper h3{
	font-size:14px;
font-weight:200;
font-family: 'Raleway', sans-serif;	
color:#FE8E58;
}
.news-link{
margin:0 0 30px 0;	
}
.newsletter-form-wrapper .sfTxt {
    height: 32px;
    margin: 20px 0;
    padding: 4px 10px;
    width: 342px;
}
.newsletter-button input {
    background-color: #3F6D80;
    border: 0 none;
    color: #FFFFFF;
    font-size: 23px;
    margin: 28px 0;
    min-width: 237px;
    padding: 16px 40px;
}
.newsletter-button input:hover {
   background-color:#668A9A;	
}
.sfsearchBox {
    border: none;
}
.search {
    margin: 7px 13px 0 0;
}
.search .sfsearchTxt {
    color: #555555;
    font-size: 13px;
    height: 28px;
    padding: 0 0 0 6px;
    width: 348px;
}
.sfsearchSubmit {
    background-color: #3F6D80;
    border: 0 none;
    color: #FFFFFF;
    font-size: 17px;
    margin: 0 0 0 7px;
    padding: 4px 24px 8px;
}
.sfsearchSubmit input:hover {
   background-color:#668A9A;	
}
.search-page-wrapper .sfsearchResultUrl{
	margin:10px 0 0 0;
}
.search-page-wrapper .sfsearchResultHighLighter {
    margin: 10px 0 20px;
}
.search-page-wrapper .sfsearchResultTitle {
    font-size:30px;
	margin:0 0 10px 0;
}
.banner-image{
	width:1200px;
	height:394px;
}
.banner-image-1{
	background-image:url("../images/banner-1.jpg");
	background-repeat:no-repeat;
}
.banner-image-inner {
    position: absolute;
    top: 48px;
    left: 90px;
}
.banner-image h1 {
    font-weight: 700;
}
.banner-image h2 {
    font-size: 44px;
}
.banner-image p {
    font-size: 22px;
}
.k-menu .k-item > .k-link {
    color: #FFFFFF !important;
}
.k-menu .k-item, .k-widget.k-menu-horizontal > .k-item {
    border: none !important;
}
.sfsearchTxt {
    margin: 10px 0 0 0;
}
.sfNavHorizontalDropDownWrp .k-popup {
    background-color: #5C5F68 !important;
}
.sfNavList li {
    font-size: 16px;
    margin: 10px 0;
}
.sfNavVertical {
    margin: 0 0 30px !important;
}
.leadership-team li {
    clear: both;
    list-style-type: none;
    min-height: 177px;
}
.leadership-right {
    margin: 0 0 0 20px;
}
.sfLightboxMode li {
    list-style-type: none;
    float: left;
    margin: 32px;
}
.quality-management-pdf li {
    float: left;
    list-style-type: none;
    margin: 23px 35px;
    min-height: 416px;
    min-width: 298px;
    text-align: center;
}
.k-menu.k-header, .k-menu .k-item {
    background: none repeat scroll 0 0 #5C5F68;
}
.banner-image-inner h1, .banner-image-inner h2, .banner-image-inner h3 {
    color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.banner-image-inner h2 {
    max-width: 500px;
}
.icon-prev{
	background-image:url(../images/arrow-back.png);
	height:24px;
	width:18px;	
}
.icon-next{
background-image:url(../images/arrow-forward.png);
	height:24px;
	width:18px;		
}
.icon-prev, .icon-next{   
    background-position: 0px;
    margin: 7px 0px 0 0;
}
#gradient-style td, #gradient-style th {
    border: 1px solid #efefef;
    font-size: 1.2em;
    padding: 5px 10px;
}
.white-papers li {
    list-style: none;
    float: left;
    height: 358px;
    width: 27%;
    text-align: center;
    margin: 0 20px;
}
#content__C007_GridView1 {
    width: 800px;
}
#content__C007_GridView1 td, #content__C007_GridView1e th, #content__C007_GridView1e tr {
    border: 1px solid #efefef;
    font-size: 1.2em;
    padding: 5px 10px;
}
.sub-nav a{
margin:0 10px 0 0;	
}
.sub-nav {
    margin: 16px 0;
}
/* spcing start */

.spacer-5{
height:5px;	
}
.spacer-10{
height:10px;	
}
.spacer-15{
height:15px;	
}
.spacer-20{
height:20px;	
}
.spacer-25{
height:25px;	
}
.spacer-30{
height:30px;	
}
.spacer-35{
height:35px;	
}
.spacer-40{
height:5px;	
}
.spacer-40{
height:5px;	
}
.spacer-45{
height:45px;	
}
.spacer-50{
height:50px;	
}
.spacer-55{
height:55px;	
}
.spacer-60{
height:60px;	
}
.spacer-65{
height:5px;	
}
.spacer-65{
height:5px;	
}
.spacer-70{
height:70px;	
}
.spacer-75{
height:75px;	
}
.spacer-80{
height:80px;	
}
.spacer-85{
height:85px;	
}
.spacer-90{
height:90px;	
}
.spacer-95{
height:95px;	
}
.spacer-100{
height:100px;	
}
/* spcing end */
.carousel-inner h1{
	font-size: 54px;
}