@charset "utf-8";
/* CSS Document */




/*	GENERAL TABLE STYLE */

table.gfTable th, table.gfTable td {
/*	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;*/
}

.cellIndent {
	padding-left: 40px;
}

table.gfTable  {
/*	border: solid 1px #333;*/
}

table.gfTable td {
	text-align:center;
	background-color: #ffffff;
	border: solid 1px #ced2d6;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:12px;
	padding-right: 12px;
}

table.gfTable th {
	text-align:center;
	background: #ced2d6;
	background: linear-gradient(#ced2d6, #dfe4e8);
	border: solid 1px #ced2d6;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:12px;
	padding-right: 12px;

}

table.gfTable th[scope=row] {
	background-color:#099;
}

table.gfTable th[scope=column] {
	background-color:#099;
	text-align:left;
}

table.gfTable th[scope=row].topHead {
	background-color: #ced2d6;
}

table.gfTable th.morePad {
	padding-left:25px;
	padding-right:25px;
}

table.gfTable td.noBorder {
	border:none;
}

/*	TABLE WITH TEXT ONLY - ITEMS LEFT ALIGNED */

table.textLeft td, table.textLeft th {
	text-align:left;
}

table.textCenter td, table.textCenter th {
	text-align:center;
}

th[scope=row].headCenter {
	text-align:center;
}

